<div class="container-fluid mt-5">
    <div class="container p-5">
        <div class="card mt-5">
            <div class="card-header p-3 text-center">
                <p class="h3">Created Messages</p>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-2">
                        <label>Subject:</label>
                    </div>
                    <div class="col">
                        <p aria-multiline="true">Hello</p>
                    </div>
                </div>
                <!-- Message -->
                <div class="form-group row">
                    <div class="col-2">
                        <label>Message:</label>
                    </div>
                    <div class="col">
                        <p aria-multiline="true"> How are you doing </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>